#box1 {
  border: #00f solid 2px;
  width: 700px;
  margin: 20px auto;
  background-color: #ffc;
  border-radius: 10px;
}
#box2 {
  border: #00f solid 2px;
  width: 450px;
  height: 330px;
  margin: 20px auto;
  background-image: url(img/725335d54017c88f5840eb97947d66b5.jpg);
  border-radius: 10px;
}
h2 {
  text-align: center;
}
#box1 h2 {
  color: #900;
}
#box2 h2 {
  color: #cf0;
}
p {
  font-size: 20px;
  padding: 20px;
  text-align: justify;
  text-indent: 50px;
}
#box2 p {
  color: #ffc;
  line-height: 30px;
}
